@{
  Layout = "_Layout";
}

@model Sneuss.Models.Machine

<h1 class="jumbotron">Add an Engineer</h1>

<h4>Add a Engineer to this Machine: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

  @Html.Label("Select Engineer")
  @Html.DropDownList("EngineerId")

  <input class="btn btn-success" type="submit" value="Add" />
}

<input type="button" class="btn btn-primary" value="Back to Machine List" onclick="location.href='@Url.Action("Index", "Machines")'" />