@{
Layout = "_Layout";
}

@model Sneuss.Models.Machine

<h2 class="jumbotron">Edit @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)
  <div class="form-group">
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name, new { @class = "form-control"})
  </div>
  <div class="form-group">
    @Html.LabelFor(model => model.Details)
    @Html.TextBoxFor(model => model.Details, new { @class = "form-control"})<br>
  </div>
  <p>Status:</p>
  <div class="form-check">
    @Html.RadioButtonFor(model => model.Status, "Operational", new { @class="form-check-input" })
    @Html.Label("one", "Operational", new { @class = "form-check-label" })<br>
    @Html.RadioButtonFor(model => model.Status, "Malfunctioning", new { @class = "form-check-input" })
    @Html.Label("two", "Malfunctioning", new { @class = "form-check-label" })<br>
    @Html.RadioButtonFor(model => model.Status, "Being Repaired", new { @class = "form-check-input" })
    @Html.Label("three", "Being Repaired", new { @class = "form-check-label" })<br>
  </div>
  <input type="submit" class="btn btn-primary" value="Save" />
}

<input type="button" class="btn btn-primary" value="Back to Machine List" onclick="location.href='@Url.Action("Index", "Machines")'" />