@{
  Layout = "_Layout";
}
@using Sneuss.Models;
@model Sneuss.Models.Machine;

<h2 class="jumbotron">Machine Details</h2>
<hr/>
<h4>Name: @Html.DisplayFor(model => model.Name)</h4>
<hr/>
<h4>Details: @Html.DisplayFor(model => model.Details)</h4>
<hr/>

@if(@Model.Engineers.Count == 0)
{
  <p>This Machine doesn't have any engineers yet.</p>
}
else
{
  <h4>Engineers that can work on me:</h4>
  <ul>
  @* @foreach(var join in Model.Machines)
  {
    <li>@join.Machine.Name</li>
    @using (Html.BeginForm("DeleteMachine", "Engineers"))
    {
    @Html.Hidden("joinId", @join.EngineerMachineId)
    <input type="submit" value="Delete"/>
    }
  } *@
  </ul>
}

<input type="button" class="btn btn-primary" value="Back to Machine List" onclick="location.href='@Url.Action("Index", "Machines")'" />