@{
  Layout = "_Layout";
}
@using Sneuss.Models;
@model Sneuss.Models.Engineer;

<h1 class="jumbotron">Engineer Details</h1>
<hr/>
<h4>Name: @Html.DisplayFor(model => model.Name)</h4>
<hr/>
<h4>Details: @Html.DisplayFor(model => model.Details)</h4>
<hr/>

@if(@Model.Machines.Count == 0)
{
  <p>This engineer doesn't have any licenses yet.</p>
}
else
{
  <h4>Machines licensed on:</h4>
  <ul>
  @foreach(var join in Model.Machines)
  {
    <li>@join.Machine.Name</li>
    @using (Html.BeginForm("DeleteMachine", "Engineers"))
    {
    @Html.Hidden("joinId", @join.EngineerMachineId)
    <input class="btn btn-danger" type="submit" value="Delete"/>
    }
  }
  </ul>
}

<input type="button" class="btn btn-primary" value="Add Machine License" onclick="location.href='@Url.Action("AddMachine", "Engineers", new { id = Model.EngineerId })'" /><br>
<input type="button" class="btn btn-primary" value="Back to Engineer List" onclick="location.href='@Url.Action("Index", "Engineers")'" />