@{
Layout = "_Layout";
}

@model Sneuss.Models.Engineer

<h2 class="jumbotron">Edit @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)
  <div class="form-group">
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name, new { @class = "form-control"})
  </div>
  <div class="form-group">
    @Html.LabelFor(model => model.Details)
    @Html.TextBoxFor(model => model.Details, new { @class = "form-control"})<br>
  </div>
  <input type="submit" class="btn btn-primary" value="Save" />
}

<input type="button" class="btn btn-primary" value="Back to Engineer List" onclick="location.href='@Url.Action("Index", "Engineers")'" />